body{
  font-family: 'Ubuntu', sans-serif;
}
.m-auto{
  margin: auto;
}
.margin:last-child{
  margin-bottom: 65px;
}
.margin:first-child{
  margin-top: 52px;
}
a{
  text-decoration: none;
  color: inherit;
  display: inherit;
}
.click{
  cursor: pointer;
  background-position: center;
  transition: background 0.7s;
}
.click:hover{
  background-color: #f8f5f5;
  background-image: radial-gradient(circle, transparent 1%, #f8f5f5 1%);
  background-size: 15000%;
}
.click:active{
  transition: background 0s;
  background-color: gray;
  background-size: 100%;
}
.container {
  height: 100vh;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 1920px;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
::-webkit-scrollbar{
  width: 0;
}
/** css transition **/

.sendIcon-enter {
  transform: scale(0);
}
.sendIcon-enter-active {
  transform: scale(1);
  transition:  200ms;
}
.sendIcon-exit {
  transform: scale(0);
}
.sendIcon-exit-active {
  transform: scale(0);
  transition:  200ms;
}

.mic-enter {
  transform: scale(0);
}
.mic-enter-active {
  transform: scale(0);
  transition:  200ms;
}
.mic-exit {
  transform: scale(0);
}
.mic-exit-active {
  transform: scale(1);
  transition:  200ms;
}

.open-profile-enter {
  transform: scaleX(0);
  transform-origin: right;
}
.open-profile-enter-active {
  transform: scaleX(1);
  transform-origin: right;
  transition:  500ms;
}
.open-profile-exit {
  transform: scaleX(1);
  transform-origin: right;
}
.open-profile-exit-active {
  transform: scaleX(0);
  transform-origin: right;
  transition:  500ms;
}
/** header **/
.header-parent {
  position: absolute;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 47px;
  background-color: white;
  border-bottom: 2px solid whitesmoke;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
}
.header-search{
  display: flex;
  flex: 1;
  padding-left: 10px;
}
.name-info{
  display: flex;
  align-items: center;
}
.name-info .online{
  margin-left: 5px;
  position: static;
}
.header-name{
  justify-content: center;
  display: flex;
  position: relative;
  text-align: center;
  flex: 1;
  font-weight: 600;
  font-size: 18px;
}
.updating{
  display: flex;
  align-items: center;
}
.header-name .online{
  top: 25%;
  right: 20px;
}
.header-name span{
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto;
}
.loading-chat{
  animation-name: rotation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.search-message-close{
  align-items: center;
  transition: 0.5s;
  overflow: hidden;
  display: flex;
  width: 30px;
}
.search-message_close i:hover{
  color: dodgerblue;
}
.search-message{
  align-items: center;
  transition: 0.5s;
  border: 1px solid #e3e3e3;
  display: flex;
}
.search-message i:hover{
  color: red;
}
.search-message i, .search-message-close i {
  font-size: 20px;
  color: gray;
}
.search-message input, .search-message-close input{
  border: none;
  outline: none;
}
.profile-open{
  color: gray;
  padding-right: 10px;
  text-align: end;
  flex: 1;
}
.profile-open i {
  border-radius: 50%;
}
.icon{
  padding: 2px 5px ;
  display: flex;
}
/** sidebar **/
.sidebar{
  height: inherit;
  width: 23%;
  min-width: 302px;
  background-color: whitesmoke;
}
.contacts-block{
  height: inherit;
  padding: 0 0 20px 0;
  overflow-y: scroll;
  width: 100%;
}
.contact:hover{
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
}
.active-contact{
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
}
.contact{
  cursor: pointer;
  border-radius: 5px;
  margin: 0 auto 0 auto;
  width: 85%;
  position: relative;
  border: 1px solid whitesmoke;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact:last-child{
  margin-bottom: 70px;
}
.contact .date-contact{
  font-size: 10px;
}
.contact:hover .date-contact{
  display: none;
}
.contact:hover .option{
  display: flex;
}
.contact .option{
  display: none;
}
.options{
  display: flex;
  align-items: center;
  width: 23px;
  font-size: 25px;
  font-weight: bold;
}
.search-parent{
  z-index: 10;
  width: 90%;
  margin: 20px auto 10px auto;
  position: sticky;
  top: 1px;
}
.search-contact{
  top: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  padding: 5px 0;
  display: flex;
  border-radius: 5px;
  align-items: center;
  width: 100%;
  border: 1px solid whitesmoke;
}
.search-contact input{
  width: inherit;
  border: none;
  outline: none;
}
.search-contact i{
  color: gray;
  margin-left: 10px;
}
.search-contact i:last-child{
  color: gray;
  margin-left: 0;
  margin-right: 10px;
}
.info{
  max-width: 70%;
}
.name{
  font-size: 15px;
  font-weight: 600;
}
.last-message{
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size: 13px;
  color: gray;
}
.last-message i{
  font-size: 14px;
  margin-right: 5px;
}
.last-message, .name{
  max-width: 100%;
  white-space: nowrap;
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.last-message .read{
  display: flex;
}
.contact-content{
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: inherit;
}
.avatar{
  position: relative;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(#cfe7fa 0%, #6393c1 100%);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
  margin-right: 10px;
  border-radius: 50%;
}
.small{
  min-width: 30px;
  font-size: 15px;
  width: 30px;
  height: 30px;
}
.medium{
  min-width: 40px;
  width: 40px;
  height: 40px;
  font-size: 25px;
}
.large{
  font-size: 30px;
  min-width: 80px;
  width: 80px;
  height: 80px;
  margin: 50px auto 20px auto;
}
.online{
  border: 1px solid white;
  right: 0;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #12dd12;
  border-radius: 50%;
}
/** chat **/
.chat-parent{
  flex: 3;
  position: relative;
}
.chat-block{
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.message-block .message{
  word-wrap: break-word;
  word-break: break-word;
  align-self: flex-start;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 20px 20px 20px 0;
  padding: 15px;
}
.message-block{
  margin: 10px 10px;
  display: flex;
  align-self: flex-start;
  max-width: 70%;
}
.my-message-block .message{
  word-wrap: break-word;
  word-break: break-word;
  color: white;
  background-color: #1446a0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
  margin: 10px 10px;
  border-radius: 20px 20px 0 20px;
  padding: 15px;
}
.message{
  position: relative;
}
.message-block .avatar{
  align-self: flex-end;
}
.my-message-block{
  align-self: flex-end;
  max-width: 70%;
}
.type-info{
  padding: 10px;
  margin-bottom: 10px;
  background-color: whitesmoke;
  border-radius: 20px;
  font-weight: bolder;
  align-self: center;
}
.date{
  white-space: nowrap;
  font-size: 9px;
  font-weight: bold;
  color: inherit;
  text-align: end;
  display: flex;
}
.read i{
  font-size: 12px;
  margin-left: 3px;
}
.timer i{
  margin-left: 3px;
  font-size: 10px;
}
.message:hover .dropdown-icon-close{
  visibility: visible;
}
.dropdown-icon-close{
  right: 10px;
  bottom: 2px;
  position: absolute;
  cursor: pointer;
  visibility: hidden;
}
.dropdown-icon{
  visibility: visible;
  right: 10px;
  bottom: 2px;
  position: absolute;
  cursor: pointer;
}
.dropdown-menu{
  z-index: 10;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
  border: 1px solid whitesmoke;
  margin-top: 5px;
  position: absolute;
  width: 80px;
  background-color: white;
  color: gray;
  font-size: 11px;
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
.dropdown-message{
  right: 19px;
}
.dropdown-contact{
  right: 10px;
  top: 35px;
}
.dropdown-item{
  background: inherit;
  padding: 5px 0;
  text-align: center;
}
.open-drop{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.close-drop{
  display: none;
}
/** preloader **/
.preloader{
  flex: 3;
  display: flex;
}
.preloader div{
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 20px;
  font-weight: 600;
  margin: auto;
}
/** Send Form **/
.parent-form{
  background-color: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.form-block{
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-around;
  border-top: 1px solid whitesmoke;
  background-color: #fff;
  height: auto;
  padding: 8px 0;
  width: inherit;
}
.send-form{
  line-height: 17px;
  border: none;
  outline: none;
  width: 91%;
  padding: 0 15px;
  align-self: center;
  overflow-wrap: break-word;
  resize: none;
  word-wrap: break-word;
  word-break: break-word;
}
.send{
  align-self: flex-end;
  text-align: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  outline: none;
  border: none;
  background-color: #fff;
}
.send:focus{
  outline: none;
}
/** profile **/
.profile-parent{
  transition: 500ms;
  transform-origin: right;
  width: 0;
  transform: scaleX(0);
  background-color: whitesmoke;
}
.profile-parent-open{
  transition: 500ms;
  transform-origin: right;
  transform: scaleX(1);
  overflow-y: scroll;
  background-color: whitesmoke;
  width: 20%;
}
.profile-info{
  text-align: center;
}
.icons{
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.profile-name{
  font-weight: bold;
}
.nickname{
  color: gray;
  font-size: 15px;
  margin-top: 10px;
}
.communication{
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  width: 50%;
  color: gray;
}
.profile-social, .profile-media{
  width: 80%;
  margin: auto;
}
.header-profile{
  font-weight: bold;
}
.social-block, .mediafiles{
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
  margin: 10px 0 30px 0;
  padding: 10px 0;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}
.icons-social{
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 10px 20px;
}
.icons-social i {
  font-size: 20px;
  color: gray;
  margin-right: 10px;
}
.media-img{
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background: linear-gradient(#cfe7fa 0%, #6393c1 100%);
  border-radius: 10px;
}
.file{
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

/** skeleton **/
.contact-skeleton{
  border-radius: 5px;
  margin: 0 auto 0 auto;
  width: 90%;
  position: relative;
  border: 1px solid whitesmoke;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar-skeleton{
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.info-skeleton{
  width: 80%;
  height: inherit;
}
/** animation **/

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes rotation {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}
